
<div class="col-12 text-center"> 
    <h1>{{user.type}}</h1>
    <hr>
</div>
   
    
<div class="container mt-2 d-flex justify-content-center">  
    
        <div class="col-12 card p-3">

            <div class="d-flex align-items-center">

                    <div class="image"> <img src="assets/avatars/{{user.data.photo}}" 
                                            class="rounded" width="155"> </div>

                    <div class="ml-3 w-100">
                        <h4 class="mb-0 mt-0"><strong>{{user.data.name}}</strong></h4> <span>{{user.data.office}}</span>
                        <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                            <div class="d-flex flex-column"> <span class="articles">Articles</span> <span class="number1">{{user.data.articles}}</span> </div>
                            <div class="d-flex flex-column"> <span class="followers">Followers</span> <span class="number2">{{user.data.followers}}</span> </div>
                            <div class="d-flex flex-column"> <span class="rating">Rating</span> <span class="number3">{{user.data.rating}}</span> </div>
                        </div>
    
                    </div>
                </div>
             
        </div>
 
</div> 
 
    
<div class="container justify-content-center"> 
 

    <div class="col-12"> 
             
        <form fxLayout="column" name="form" [formGroup]="form">   
            
            <div  fxLayout="column"  >
            
                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                    <mat-label>Nome</mat-label>
                    <input matInput formControlName="name" required [(ngModel)]="user.data.name">
                    <mat-error>Nome é obrigatório!</mat-error>
                </mat-form-field>
     
            
            
                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Offices</mat-label>
                    <mat-select formControlName="select_office" required>
                        <mat-option *ngFor="let team of teams" [value]="team.name">
                            {{team.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field> 
            
            </div>

        </form>  

    </div> 

    <div class="button mt-2 d-flex flex-row align-items-center">
        <button class="btn btn-sm btn-outline-primary w-100">Chat</button> 
        <button class="btn btn-sm btn-primary w-100 ml-2" >Follow</button> 
    </div>



</div>

